<h1>Edit Driver</h1>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Driver I.D:</th>
        <th>Driver Name:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ driver.driverId}}</td>
        <td>{{ driver.driverName}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th>Driver I.D:</th>
        <th>Driver Name:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ driver.driverId}}</td>
        <td><input type="text" name="driverName" [(ngModel)]="driverName"></td>
      </tr>
    </tbody>
  </table>
</div>
<button class="btn btn-primary" (click) = "editDriver(driver.driverId,driverName)">Complete Edit</button>

