<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <h1 class="navbar-brand" href="https://www.kelloggs.co.za/en_ZA/home.html">InternetSolutions</h1>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" *ngIf="service.isUserLoggedIn() && service.isAdmin()">
      <li class="nav-item" >
        <a [routerLink]="['/customers']" routerLinkActive="router-link-active" class="nav-link"> <i class="fa fa-user-o" aria-hidden="true"></i> Customers</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/orders']" routerLinkActive="router-link-active" class="nav-link"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Orders</a>
      </li>
      <li>
        <a [routerLink]="['/trucks']" routerLinkActive="router-link-active"
          class="nav-link"><i class="fa fa-truck" aria-hidden="true"></i> Trucks</a>
      </li>
      <li>
        <a [routerLink]="['/drivers']" routerLinkActive="router-link-active" class="nav-link"><i class="fa fa-id-card" aria-hidden="true"></i> Drivers</a>
      </li>
      <li>
        <a [routerLink]="['/deliveries']" routerLinkActive="router-link-active" class="nav-link"><i class="fa fa-money" aria-hidden="true"></i> Deliveries</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="service.isUserLoggedIn() && !service.isAdmin()">
      <li><a [routerLink]="['/checkInfo']" routerLinkActive="router-link-active" class="nav-link">My Information</a></li>
      <li><a [routerLink]="['/myOrders']" routerLinkActive="router-link-active" class="nav-link">My Orders</a></li>
      <li><a [routerLink]="['/myDeliveries']" routerLinkActive="router-link-active" class="nav-link">My Deliveries</a></li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="nav-item dropdown">
        <a style = "color: white !important" class="nav-link dropdown-toggle" *ngIf="service.isUserLoggedIn()" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
          <fa style="color: white" name="cog" animation="spin">Other</fa>
        </a>
        
        
        
        <div class="dropdown-menu" *ngIf="service.isUserLoggedIn()" aria-labelledby="navbarDropdown">
          <a [routerLink]="['/adminOrder']" routerLinkActive="router-link-active" class="nav-link"><i class="fa fa-plus-square" aria-hidden="true"></i> Create Order</a>
          <div class="dropdown-divider"></div>
          <li><a [routerLink]="['']" routerLinkActive="router-link-active" class="nav-link"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Login</a></li>
          <div class="dropdown-divider"></div>
          <a [routerLink]="['/logout']" routerLinkActive="router-link-active" class="nav-link"
          (click)="logout()"> <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Logout</a>
        </div>
      </div>
    </form>
  </div>
</nav>