

h1 {
  color: rgba(32, 32, 32, 0.808);
  text-align: left;
}

hr {
  border-width: 1px !important;
  border-color: white !important;
}
.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

